.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 2.5s, visibility 2.5s;  /* AUMENTAR SI QUIERE QUE DURE MAS LA TRANSICION EJ: 3.5s */
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 2.5s ease infinite;   /* AUMENTAR SI QUIERE QUE DURE MAS LA ANIMACION 3.5s */
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}